.image{
    display: block;
    max-width: 50%;
    height: auto;
    margin: auto;
    border-radius: 25px;
    z-index: -5;
    transition: .5s ease;
    padding-top: 20px;
}

.image:hover{
    filter: grayscale(100%);
}

.spacer{
    display: inline;
    margin: 20px;
}

footer{
    display: block;
    max-width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    font-weight: 700;
}

.center{
    max-width: 50%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.top-margin{
    margin-top: 30px;
}

table, th, td {
    border: 1px solid;
}

td{
    padding: 5px;
}

th{
    background-color: brown;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.over-text{
    position: absolute;
    top: 20px;
    left: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: red;
    max-width: max-content;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .row {
    margin: auto;
    display: flex;
    color: red;
    max-width: 45%;
    max-height: fit-content;
  }
  
  .column {
    flex: 50%;
  }

  .paragraph:hover{
    color:black;
  }

  h1{
    color: black;
  }

  .video-text{
    color: white;
    font-size: 300%;
    text-decoration: underline;
  }

  .no-small{
    color: #333;
  }

  @media screen and (max-width: 600px) {
    .no-small{
        color: blue;
    }
  }